@import "../mixin.scss";
.game-rank-con{
	margin:10px 0 0 10px;
}
.game-poker{
	zoom:1;
	*margin-bottom:20px;
	_margin-bottom:0;
	&:after{
		content:'';
		visibility: hidden;
		display: block;
		clear:both;
	}
	li{
		width:176px;
		padding:14px 0;
		border:1px solid #f5f5f5;
		text-align:center;
		position:relative;
		float:left;
		margin:0 20px 20px 0;
		a.info{
			display:block;
			position:relative;
			text-align:center;
			img{
				display:block;
				width:120px;
				height:120px;
				margin:0 auto 10px auto;
			}
			p{
				width:166px;
				margin:0 auto;
				font-size:16px;
				line-height:26px;
				@include hidden;
			}
			.radius120{
				left:28px;
				_left:0;
			}
			&:hover{
				cursor:pointer;
				p{color:#f60;}
			}
		}
		.type{
			color:#999;
			line-height:22px;
			cursor:default;
			
		}
		.fav{
			margin:3px 0 10px 0;
			height:15px;
			cursor:default;
			.good,.bad{
				display:inline-block;
				width:15px;
				height:15px;
				@include icobg;
			}
			.good{
				background-position:-23px -283px;
			}
			.bad{
				background-position:-50px -283px;
			}
		}
		.down{
			display: block;
			width: 86px;
			height: 28px;
			border: 1px solid #ccc;
			@include bor-radius;
			margin: 0 auto;
			text-align: center;
			line-height: 28px;
			@include btnbg;
			&:hover{
				background:#ff8a00;
				border-color:#ff8a00;
				color:#fff;
				font-weight:700;
			}
		}
		&:hover{
			background:#f5f5f5;
			.info p{
				color:#f60;
			}
			.down{
				background:#ff8a00;
				border-color:#ff8a00;
				color:#fff;
			}
		}
		&.last{
			margin-right:10px;
		}
	}
}
.corner-first, .corner-second, .corner-third{
	width:55px;
	height:55px;
	@include icobg;
	position:absolute;
	top:-3px;
	left:-3px;
	z-index: 100;
}
.corner-first{
	background-position: 0 -345px;
}
.corner-second{
	background-position: -55px -345px;
}
.corner-third{
	background-position: -110px -345px;
}