/**
* IOS 详情页
*/
@import "./mixin.scss";

@import "./_mixin_public/_mixin_public"; // 共用元素集合
@import "../baoliao/module/_page_change"; // 分页
@import "./_iphone/_art_review"; // 导读
@import "./_iphone/_article_comment"; // 评论
@import "./_iphone/_page_header"; // 标题
@import "./_iphone/_post_content"; // 文章内容

@import "./_mixin_public/_mask_code"; // 弹框二维码
@import "./_iphone/_gift_list"; // 礼包列表

* {
  font-style: normal;
}

.sub-bar {
  width:718px;
  float:left;
  border:1px solid #ebebeb;
  border-bottom:none;
}

.col-bar {
  width:260px;
  float:right;
}

.down-col {
  width:258px;
  margin-bottom: 10px;
  border:1px solid #ebebeb;
  .tp {
    display:table;
    height:60px;
    @extend %cf;
    margin:22px 0 25px 11px;
  }
  .infos {
    width:162px;
    display:table-cell;
    vertical-align:middle;
  }
  .img-clip {
    width:60px;
    height: 60px;
    margin-right: 10px;
    position: relative;
    float:left;
  }

  img {
    width:60px;
    height:60px;
  }
  .name {
    max-height: 40px;
    line-height:20px;
    font-size:16px;
    font-weight: 700;
    color:#333;
    @include omit(2);
  }
  .label {
    margin-top:3px;
    display: block;
    color:#999;
    font-size:12px;
  }
  .btn-code {
    width:237px;
    height:51px;
    position: relative;
    margin-left: 11px;
    margin-bottom: 25px;
    line-height: 51px;
    color:#fff;
    font-size:20px;
    @include borderRadius(5px);
    background: #ff8a00;
    text-align: center;
    cursor: pointer;
    &:hover {
      background:#f60;
      .mask-code {
        display: block;
      }
    }
  }
  .code {
    width:65px;
    height: 51px;
    float:right;
    display: block;
    border-left:1px solid rgba(#fff,.3);
  }
  .code-ico {
    width:33px;
    height:33px;
    margin-top:9px;
    margin-left:17px;
    display: block;
    background: url(#{$imgUrl}sc.png) no-repeat -72px -83px;
  }
  .past {
    width:237px;
    height:51px;
    margin-left: 11px;
    margin-bottom: 25px;
    line-height: 51px;
    color:#a6a6a6;
    font-size:20px;
    @include borderRadius(5px);
    background: #f3f3f3;
    text-align: center;
  }
}

.col-sub {
  margin-bottom: 15px;
  .list {
  }
  .items {
    margin-top:-1px;
    padding:7px 8px 5px;
    display: block;
    border-top:1px solid #e9e9e9;
    cursor: pointer;
    &:hover {
      background:#FAFAFA;
      .name {
        color:#f60;
      }
    }
  }
}

.news-list.set {
  padding:5px 8px 0 10px;
  li {
    height: 30px;
    border-top:1px dotted #e9e9e9;
    &.first {
      border-top:none;
    }
    a {
      width:100%;
      max-width:100%;
    }
  }
}

.mask-code {
  bottom:55px;
  right:-59px;
}