/* 游戏评测 */
.game-comment{
	width: 600px;
	float: left;
	.box-text{
		padding:0 10px;
	}
	.today-pic{
		height:135px;
		padding: 15px 0;
		border-bottom:1px solid #ebebeb;
		overflow:hidden;
	}
	.pic-word-con{
		width:180px;
		height:135px;
		float:left;
		margin-right:14px;
		&.last{
			_padding-top:0;
			margin-right:0;
		}
	}
	.icon-word-list{
		margin-left:-10px;
		zoom:1;
		.tit,.pic{
			display:block;
		}
		.text{
			line-height:22px;
			height:44px;
			overflow:hidden;
		}
		&:after{
			content:'';
			visibility: hidden;
			display: block;
			clear:both;
		}
		li{
			height:83px;
			margin-left:10px;
			cursor:auto;
			&:hover{
				border-color:#fafafa;
			}
		}
		.pic{
			margin-top:6px;
		}
		
		.right-text{
			width:auto;
			float:none;
			margin-left:80px;
			margin-top:5px;
			.more{
				color:#f80;
				padding-left:4px;
			}
		}
	}
}