.game-con-6{
	width:718px;
	float:left;
	.box-text{
		height:530px;
		padding:10px 0 0 6px;
		overflow:hidden;
	}
	.game-ul-list{
		li{
			margin-bottom:12px;
			a.info p{
				line-height:30px;
			}
		}
	}
}