@import "../mixin.scss"; 
/* 新游视频 */
.new-game-video{
	margin-bottom:25px;
	.box-text{
		padding-top:13px;
	}
	.left{
		width:355px;
		height:200px;
		overflow:hidden;
		float:left;
		.video-word-con{
			width:100%;
			height:100%;
		}
	}
	.middle{
		width:370px;
		height:200px;
		overflow:hidden;
		float:left;
		.video-word-con{
			width:172px;
			height:95px;
			margin:0 0 10px 12px;
			_margin:0 0 10px 6px;
			float:left;
			.text{
				height:22px;
				line-height:22px;
				font-size:12px;
			}
			.word{
				width:70%;
			}
			.play{
				width:24px;
				height:24px;
				margin:-12px 0 0 -12px;
				background-position:8px -157px;
			}
			.text .play{
				margin:0;
			}
		}
	}
	.right{
		border-left:1px solid #f5f5f5;
		width:250px;
		height:200px;
		overflow:hidden;
		float:right;
		.news-list{
			padding:0 0 0 10px;
			li{
				line-height: 29px;
				
				padding-left: 18px;
				background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 1px -215px;
				_background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 1px -215px;
				&:hover{
					background-position: 1px -185px;
				}
				a{
					max-width:100%;
					_width:98%;
				}
			}
		}
	}
}
