@import "../mixin.scss"; 
/* 新游专题 */
.new-game-recom{
	width:250px;
	float:left;
	margin-right:20px;
	.box-text{
		padding-top:4px;
	}
	.pic-word-con{
		width:220px;
		height:115px;
		margin:10px 0 0 15px;
	}
}
/* 独家评测 */
.special-recom{
	width:450px;
	float:left;
	.box-text{
		padding-top:7px;
		_padding-top:0px;
	}
	.icon-word-list{
		margin-left:-10px;
		zoom:1;
		a:hover{
			.tit{
				color:#f60;
			}
		}
		.tit{
			_width: 100%;
			font-size: 14px;
			line-height: 14px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-bottom:12px;
			_margin-bottom:10px;
		}
		.text{
			height: 38px;
			_width: 100%;
			color: #666;
			line-height: 20px;
			font-size: 12px;
			margin-bottom: 0;
			overflow: hidden;
		}
		&:after{
			content:'';
			visibility: hidden;
			display: block;
			clear:both;
		}
		li{
			height: 86px;
			_height: 84px;
			overflow: hidden;
			border-bottom: 1px dotted #ebebeb;
			cursor: pointer;
			&:hover{
				.tit a{
					color:#f60;
				}
				.text a{
					color:#666;
				}
			}
		}
		.pic{
			width: 70px;
			margin: 8px 10px 0 10px;
			float: left;
			position: relative;
			_cursor: pointer;
			img{
				width: 70px;
				height: 70px;
			}
		}
		.right-text{
			width: 355px;
			_width: 345px;
			height: 80px;
			margin-top: 10px;
			float: left;
			_cursor: pointer;
		}
	}
}

/* 新游期待榜 */
.side-rank{
	width:250px;
	float: right;
	.box-text{
	height: 530px;
	overflow:hidden;
    }
}
.side-rank-list{
	zoom:1;
	&:after{
		content: '';
		visibility: hidden;
		display: block;
		clear: both;
	}
	& li{
		float: left;
		width: 100%;
		display: block;
		height: 52px;
		border-bottom:1px dotted #ebebeb;
	}
	& li:hover{
		background:#f7f7f7;
		border-bottom:none;
		height: 53px;
	}
	& li .radius32{
		width: 32px;
		height: 32px;
		background: url('http://www.9game.cn/public/images/pc/pc_new/img_radius.png') no-repeat 0 -150px;
		_background: url('http://www.9game.cn/public/images/pc/pc_new/img_radius.gif') no-repeat 0 -150px;
		position: absolute;
		top: 10px;
		left: 0;
	}
	& li .btn{
		float: left;
		display: block;
		margin: 1px auto;
		width: 23px;
		height: 23px;
		margin-top: 15px;
		border-radius: 3px;
		background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.png) no-repeat 100px 100px;
		_background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.gif) no-repeat 100px 100px;
		background-color: #f2f2f2;
		text-indent:-500px;
		overflow:hidden;
	}
	& li .down{
		background-position: -89px -80px;
	}
	& li:hover .down{
		background-position: -88px -37px;
  		background-color: #a3ce0e;	
	}
	& li:hover .down.no{
		@include icobg2(3px,-98px);
		background-color:#f2f2f2;
	}
	& li .down.no{
		@include icobg2(3px,-98px);
		background-color:#f2f2f2;
		cursor:default;
		&:hover{
			background-position:3px -98px;
			background-color:#f2f2f2;
		}
	}
	& li .down:hover{
		background-position: -88px -37px;
  		background-color: #a3ce0e;
	}
	& li .down-ip{
		background-position: -128px -60px;
	}
	& li:hover .down-ip{
		background-position: -88px -37px;
  		background-color: #83a7d4;	
	}
	& li .down-ip:hover{
		background-position: -88px -37px;
  		background-color: #83a7d4;
	}
	& li .side-rank-info{
		float: left;
		width:160px;
		padding: 10px 0 0 0;
		margin-right:14px;
		height:32px;
		position: relative;
		overflow:hidden;
		& img {
			float: left;
			width: 32px;
			height:32px;
			margin-right: 16px;
		}
		& p{
			font-size: 14px;
			display: inline-block;
			width: 112px;
			margin-top: 7px;
			*margin-top: 5px;
			float: left;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&:hover p{
			text-decoration:underline;
			color: #ff6600;
		}
		
	}
	.side-rank-num{
		float: left;
		width: 17px;
		height: 17px;
		line-height: 17px;
		font-size: 12px;
		text-align:center;
		color: #ffffff;
		background:#cccccc;
		display: inline-block;
		margin: 18px 15px 0 10px;
		cursor:default;
	}
	.first .side-rank-num{
		background:#ff6600;
	}
	.second .side-rank-num{
		background:#ff9000;
	}
	.third .side-rank-num{
		background:#ffc000;
	}
}
