/* 游戏下载列表 */
.game-ul-list{
	zoom:1;
	&:after{
		content:'';
		visibility: hidden;
		display: block;
		clear:both;
	}
	li{
		padding:10px;
		width:90px;
		float:left;
		margin:0 10px 5px 0;
		a.info{
			display:block;
			width:90px;
			position:relative;
			cursor:pointer;
			img{
				width:90px;
				height:90px;
				display:block;
			}
			p{
				width:90px;
				font-size:14px;
				line-height:28px;
				text-align:center;
				@include hidden;
			}
			&:hover p{
				color:#f60;
			}
		}
		.corner-publish{
			position:absolute;
			left:0;
			top:0;
			display:block;
			width:50px;
			height:50px;
			@include angu(0,-112px);
		}
		.corner-mine{
			position:absolute;
			left:0;
			top:0;
			display:block;
			width:50px;
			height:50px;
			@include angu(0,-163px);
		}
		.corner-nine {
		  position: absolute;
		  left: 0;
		  top: 0;
		  display: block;
		  width: 54px;
		  height: 54px;
		  background: url(http://portal.ucgc.ucfly.com/public/images/pc/nine_act/nine_active.png) no-repeat 0 -74px;
		}
		a.down{
			display:block;
			width:66px;
			height:23px;
			border:1px solid #ccc;
			@include bor-radius;
			margin:0 auto;
			text-align:center;
			line-height:23px;
			@include btnbg;
			&:hover{
				background:#ff8a00;
				border-color:#ff8a00;
				color:#fff;
				font-weight:700;
			}
		}
		.no{
			display:block;
			width:66px;
			height:23px;
			border:1px solid #f3f3f3;
			@include bor-radius;
			margin:0 auto;
			text-align:center;
			line-height:23px;
			background:#f3f3f3;
			color:#a6a6a6;
			cursor:default;
			&:hover{
				color:#a6a6a6;
			}
		}
		&:hover{
			background-color:#f7f7f7;
			p{
				color:#f60;
			}
			a.down{
				background:#ff8a00;
				border-color:#ff8a00;
				color:#fff;
				
			}
		}
		&.last{
			margin-right:0;
		}
	}
}