@mixin icobg($left:100px,$top:100px){
  background:url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.png) no-repeat $left $top;
  _background:url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.gif) no-repeat $left $top;
}
@mixin hidden{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
@mixin btnbg{
	background:#fafafa;
	background:-moz-linear-gradient(top, #fff,#fafafa);
	background:-webkit-linear-gradient(top, #fff,#fafafa);
	background:-ms-linear-gradient(top, #fff,#fafafa);
	background:-o-linear-gradient(top, #fff,#fafafa);
}
@mixin radius{
  background:url(http://www.9game.cn/public/images/pc/pc_new/img_radius.png) no-repeat 0 0;
  _background:url(http://www.9game.cn/public/images/pc/pc_new/img_radius.gif) no-repeat 0 0;
  background-repeat:no-repeat;
}
@mixin bor-radius{
 -moz-border-radius:4px;
 -khtml-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
}
@mixin zoom{
	zoom:1;
	&:after{
		content:'';
		visibility: hidden;
		display: block;
		clear:both;
	}
}