@import "../mixin.scss";
/* 今日开服 */
.today-new-server{
	padding-top:10px;
	border-top:1px solid #ebebeb;
	.box-title .time{
		position:absolute;
		left:105px;
		bottom:6px;
		font-size:14px;
		color:#f60;
	}
	.box-title .server-more{
		position:absolute;
		right:0;
		top:3px;
		display:block;
		width:80px;
		height:26px;
		@include icobg2(64px,-248px);
		background-color:#ff8a00;
		@include bor-radius;
		line-height:25px;
		color:#fff;
		text-indent:5px;
		font-size:14px;
		&:hover{
			text-decoration:underline;
		}
	}
}
.today-server-list{
	margin-bottom:25px;
	li{
		height:150px;
		overflow:hidden;
		position:relative;
		border-bottom:1px solid #ebebeb;
		&:hover{
			background:#f7f7f7;
			.tit,.tit a{
				color:#f60;
			}
		}
	}
	.pic{
		width:120px;
		margin:10px 15px 0 15px;
		_margin:10px 15px 0 7px;
		float:left;
		position:relative;
		_cursor:pointer;
		img{
			width:120px;
			height:120px;
		}
	}
	.right-text{
		width:830px;
		_width:820px;
		margin-top:20px;
		float:left;
		.tit{
			font-size:18px;
			line-height:18px;
			margin-bottom:10px;
			vertical-align:middle;
			@include hidden;
			a:hover{
				text-decoration:underline;
			}
		}
		.text{
			width:420px;
			height:44px;
			overflow:hidden;
			color:#666;
			font-size:14px;
			line-height:24px;
			margin-bottom:10px;
			cursor:default;
			a{
				color:#666;
			}
		}
		.type{
			width:420px;
			color:#999;
			cursor:default;
			.name{
				color:#0050b4;
				font-style:normal;
			}
			.type-con{
				margin-right:20px;
			}
		}
		.android{
			display: inline-block;
			width: 14px;
			height: 12px;
			@include icobg;
			margin-left:3px;
			background-position: -111px -320px;
		}
		.ios{
			display: inline-block;
			width: 14px;
			height: 12px;
			@include icobg;
			margin-left:3px;
			background-position:-138px -320px;
		}
	}
	.other-btn{
		width:400px;
		height:36px;
		overflow:hidden;
		position:absolute;
		top:58px;
		right:0;
		.btn{
			width:88px;
			height:34px;
			display:block;
			margin-right:10px;
			border:1px solid #ccc;
			line-height:34px;
			text-align:center;
			font-size:16px;
			float:left;
			@include btnbg;
			@include bor-radius;
			&:hover{
				color:#fff;
			}
		}
		.no{
			border-color:#f3f3f3;
			background:#f3f3f3;
			color:#a6a6a6;
			cursor:default;
			&:hover{
				color:#a6a6a6;
			}
		}
		.green:hover{
			border-color:#a3ce0e;
			background:#a3ce0e;
		}
		.red:hover{
			border-color:#ff622b;
			background:#ff622b;
		}
		.orange:hover{
			border-color:#ff8a00;
			background:#ff8a00;
		}
		.blue:hover{
			border-color:#50c0ff;
			background:#50c0ff;
		}
	}
}