@import "../mixin.scss";   			
.baoliao-tit{
	height:32px;
	background:#fff;
	margin-top:20px;
	border:1px solid #f80;
	@include bor-radius;
	.link{
		width:138px;
		height:100%;
		display:block;
		float:left;
		color:#f80;
		line-height:32px;
		text-align:center;
		font-size:18px;
		border-right:1px solid #f80;
		&.last{
			width:140px;
			border:0;
		}
		&:hover,&.current{
			background:#f80;
			color:#fff;
		}
	}
}
.baoliao-list{
	padding-top:3px;
	li{
		padding:16px 0 14px 0;
		height:100px;
		border-bottom:1px dotted #ebebeb;
		margin-top:-1px;
		&:hover{
			background-color:#fafafa;
		}
		a:hover{
			text-decoration:underline;
		}
	}
	.img{
		width:100px;
		height:100px;
		float:left;
		margin-right:10px;
		img{
			display:block;
			width:100px;
			height:100px;
		}
	}
	.des{
		width:583px;
		float:left;
		position:relative;
	}
	.tit{
		font-size:14px;
		font-weight:700;
		padding:1px 0 4px;
		a{
			font-size:16px;
			max-width:412px;
			_width:412px;
			display:inline-block;
			@include hidden;
		}
		.pic{
			width:20px;
			height:18px;
			margin-left:5px;
			display:inline-block;
			background:url(http://www.9game.cn/public/images/pc/pc_new/newgame_icon.png) no-repeat -71px -93px;
		}
		.top{
			width:22px;
			height:18px;
			margin-left:5px;
			display:inline-block;
			background:url(http://www.9game.cn/public/images/pc/pc_new/newgame_icon.png) no-repeat -35px -93px;
		}
		.video{
			width:20px;
			height:18px;
			margin-left:5px;
			display:inline-block;
			background:url(http://www.9game.cn/public/images/pc/pc_new/newgame_icon.png) no-repeat 0 -93px;
		}
	}
	.text{
		height:74px;
		font-size:14px;
		line-height:24px;
		color:#666;
		overflow:hidden;
		.more{
			color:#f80;
		}
	}
	.time{
		position:absolute;
		right:0;
		top:2px;
		color:#999;
		font-size:12px;
		cursor:default;
	}
}